
language: cpp

os:
  - linux
  - osx

# prevent duplicate builds on tagged versions on master
# development to be done on other branches
branches:
  except:
    - master

# please see this if you have issues in docker with utf8_py3.out
#https://stackoverflow.com/questions/29740662/python3-utf8-codecs-not-decoding-as-expected-in-docker-ubuntutrusty

before_install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    sudo apt-get install tcl8.5 tcl8.5-dev tcl-dev python3 python3-dev cmake flex bison;
    fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    (curl -O https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh  &&
     bash Miniconda3-latest-MacOSX-x86_64.sh -b -p $HOME/anaconda &&
     ${HOME}/anaconda/bin/conda create -y --name python37 python=3.7
    );
    fi

script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    (bash scripts/setup_ubuntu_14.04.sh && cd linux_x86_64_release && make -j2 && make test);
    fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    (bash scripts/setup_osx_anaconda.sh && cd osx_release && make -j2 && make test);
    fi


